@model CSOB_Interview_WorkLogger.Data.Entities.Employee

@{
    ViewData["Title"] = "Details Zamestnanec";
}

<h1>Details Zamestnanec</h1>

<div>
    <h4>Zamestnanec</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobPosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OnboardingDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OnboardingDay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>