@model IEnumerable<CSOB_Interview_WorkLogger.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Zoznam Zamestnancov</h2>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.JobPosition)</th>
        <th>@Html.DisplayNameFor(model => model.OnboardingDay)</th>
        <th>@Html.DisplayNameFor(model => model.TotalHoursWorked)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.JobPosition)</td>
            <td>@item.OnboardingDay.ToShortDateString()</td>
            <td>@Html.DisplayFor(modelItem => item.TotalHoursWorked)</td>
        </tr>
    }
    </tbody>
</table>

